body {
    margin: 0;
}

a {
    color: #A4B0FF;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color: #25395C;
}

.aboutMe {
    color: #e89f91;
    font-family: 'Arial Narrow', Arial, sans-serif;
    font-size: 1.3rem;
    background-color: #fff7f3;
    padding: 1rem;
    width: 100%;
}

.pic {
    display: flex;
    justify-content: center;
}

ul {
    display: flex;
    list-style-type: none;
    padding: 0;
}

ul li {
    padding-right: 1rem;
}

ul li:last-child {
    padding-right: 0;
}

ul img {
    width: 2.5rem;
    height: 2.5rem;
}

#h1 {
    color: #4a4a4a;
}

@media only screen and (max-width: 28.125em) {
    img {
        width: 100%;
    }
}