html, body {
  background-color: #f5f6f3;
  overflow-x: hidden;
}

body {
  color: #292a5e;
  font-family: 'Agrandir', sans-serif;
  margin: 0;
  width: 100%;
}

body.mobile-menu-open {
  height: 100vh;
}

main {
  position: relative;
}

a {
  color: #fd7d78;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: #fff;
  text-decoration: underline solid #fff 3px;
}

audio::-webkit-media-controls-panel {
  background-color: #C9C3D7;
}
.hamburger {
  top: 1rem;
  left: 1rem;
  display: none;
  padding: .5rem;
  box-shadow: 1px 1px 2px #553d86;
}

.hamburger div {
  width: 28px;
  height: 3px;
  background-color: #fff;
  margin: 6px 0;
}

.mobile-header {
  display: none;
  background: #553b86;
}

.mobile-menu {
  background: #fff;
  width: 250px;
  height: 100vh;
  position: absolute;
  left: -250px;
  top: 0;
  z-index: 2;
}

.mobile-menu-open {
  transition: all .25s ease-in-out;
  -webkit-transition: all .25s ease-in-out; /** Chrome & Safari **/
  -moz-transition: all .25s ease-in-out; /** Firefox **/
  -o-transition: all .25s ease-in-out; /** Opera **/
  left: 0px;
  box-shadow: 0px 5px 10px #553d86;
}

.mobile-menu-overlay {
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, .75);
  z-index: 1;
}

.mobile-menu-overlay.active {
  display: block;
}

.mobile-menu li {
  list-style-type: none;
  padding-bottom: 1rem;
}

.mobile-menu a {
  font-size: 1.25rem;
  color: #553d86;
}

.mobile-menu a:hover {
  color: #fd7d78;
}

.mobile-menu div {
  height: 1rem;
  position: relative;
}

.mobile-menu button {
  background: #553d86;
  top: 1rem;
  left: 1rem;
  border: none;
  width: 1.75rem;
  height: 1.75rem;
  color: #fff;
  font-weight: 100;
}

h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 2rem;

}

p {
  line-height: 1.5rem;
}

ul.news{
  list-style: none;
  padding-left: 0;
}

ul.news li{
  margin-bottom: .4rem;
}

ul.social {
  display: flex;
  list-style-type: none;
  padding: 0;
  position: sticky;
  bottom: 1rem;
}

ul.social.mobile-only {
  display: none;
}

ul img {
  width: 2rem;
  height: 2rem;
}

.column {
  float: left;
  padding: 10px;
}
  
.footer-content {
  bottom: 0;
  text-align: center;
  width: 100%;
  font-size: 1rem;
}

.github {
  fill: green;
}

#h1 {
  color: #4a4a4a;
}

* {
  box-sizing: border-box;
}

.left {
  background-color: #fff;
  position: relative;
  text-align: right;
  overflow-y: scroll;
  padding: 1.5rem;
  width: 25%;
}

.name {
  color: #fd7d78;
  font-family: 'Nunito', sans-serif;
  font-size: 3rem;
  margin-top: 0;
  margin-bottom: 0;
}

.pic {
  display: flex;
  justify-content: center;
  padding: 1rem;
  background-image: radial-gradient(rgb(87, 51, 51) 10%, transparent 11%),
  radial-gradient(rgb(104, 18, 18) 10%, transparent 11%);
  background-size: 10px 10px;
  background-position: 0 0, 90px 90px;
  background-repeat: repeat;
}

.pic img {
  width: 50%;
}

.pronounciation {
  color: #b8b8b8;
  font-style: italic;
  font-size: .8rem;
  padding-top: 0%;
  margin:0;
  border-collapse: collapse;
}

.right {
  background-color: #553d86;
  color: #fff;
  display: block;
  position: relative;
  padding: 1.5rem;
  width: 75%;
}

.row {
  display: flex;
}

/* Clear floats after the columns */
/* .row:after {
  content: "";
  display: table;
  clear: both;
} */

.social {
  bottom: 0;
  justify-content: space-evenly;
  left: 0;
  position: absolute;
  text-align: center;
  width: 100%;
}


.topnav {
  display: flex;
}

.topnav ul {
  align-items: center;
  display: flex;
  margin: 0;
  width: 50%;
  padding: 0;
}

.topnav ul:nth-child(2) {
  justify-content: flex-end;
}

.topnav li {
  display: block;
}
  
.topnav a {
  padding: 1rem;
  text-decoration: none;
  font-size: 17px;
}
  
.topnav a:hover {
  color: #fff;
  text-decoration: underline solid #fff 3px;
}
  
.topnav a.active {
  color: #fff;
}

#scrollToTop {
  display: none;
  background-color: black;
  border: none;
  border-radius: 50%;
  bottom: 1rem;
  color: white;
  cursor: pointer;
  height: 3.25rem;
  font-size: 16px;
  position: absolute;
  right: 1rem;
  width: 3.25rem;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .hamburger {
    display: block;
  }

  .mobile-header {
    display: block;
  }

  .left, .right {
    width: 100%;
  }

  .topnav {
    display: none;
  }

  .row {
    display: block;
  }

  ul.news li {
    margin-bottom: 1rem;
  }

  #scrollToTop {
    display: block;
  }

  ul.social.mobile-only {
    display: flex;
  }
}